<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.springsecurity.mapper.UmsMenuMapper">

    <select id="selectMenuByRoleIds" resultType="com.demo.springsecurity.domain.entity.UmsMenu">
        select
        m.id id,
        m.parent_id parentId,
        m.menu_name menuName,
        m.sort sort,
        m.perms perms,
        m.menu_type menuType,
        m.icon icon,
        m.deleted deleted,
        m.create_time createTime,
        m.update_time updateTime
        from ums_role_menu rm
        left join ums_menu m on rm.menu_id = m.id
        where rm.role_id in
        <foreach collection="roleIds" item="roleId" open="(" separator="," close=")">
            #{roleId}
        </foreach>
    </select>
</mapper>
